<nav class="navbar style container-fluid navbar-expand-lg   navbar-dark  pt-3 sticky-top" >
    <a class="navbar-brand " class='' href="#">
        <img class="bg-white logo" src="../../static/images/logo.png" width="80px" height="" alt="">
    </a>
        
     
       
    {% if user.is_authenticated%}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse right  " id="navbarSupportedContent">
        <ul class="navbar-nav rg ml-auto">
            <li class="nav-item active font-weight-bold pr-none">
                <a class="navbar-brand  nav-link " href="{% url 'home'%} ">MoringaHub</a>
            </li>        
          <li class="nav-item">
            <a class="nav-link active navbar-brand" href="{% url 'post_projects'%} ">Projects</a>
          </li>
          
          <li class="nav-item dropdown ">
            <a class="nav-link  dropdown-toggle navbar-brand active " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{user.username}}
            </a>
            <div class="dropdown-menu col-sm-3" aria-labelledby="navbarDropdown">
              <a class="dropdown-item prof" href="{%url 'profile'%} ">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item prof" href="{% url 'projects'%} ">My Projects</a>
              
              <input type="hidden" name="next" value="">
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link  navbar-brand active" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
      
      {%endif%}   
</nav>