{% extends 'base.html'%}
{% block content%}
  <div class="container">
    <div class="row bg-light mt-5">
      
        <div class="col-md-4 ">
            <div class="card " style="position:sticky;top:80px">
                <h3 class="card-header"> {{profile.name}}</h3>
                {% if profile.profile_pic%} 
                <img class="rounded-circle " style="height: 150px; width: 45%; display: block;" src="{{profile.profile_pic.url}} " alt="Card image">
                {%else%}
                <img class="rounded-circle" src="../../static/images/face-avatar.png" alt="" style="height: 150px; width: 60%; display: block;" >
                {%endif%}
                <div class="card-body">
                  <p>Bio: <span class="text-success">{{profile.bio}}</span> </p>
                  <p class="card-text"> Class: <span class="text-success">{{profile.s_class}}</span> </p>
                </div>              
                <div class="card-footer text-muted">
                 <a href="{%url 'update_profile'%} ">Update Profile</a>
                </div>
              </div>  
        </div> 
        
        <div class="col-md-8"> <br>
          <div class="row">
            <!-- empty div -->
            <div class="col-md-2"></div>          
            <div class="col-md-8">
              {% if ideas%}
              <h3>Raw drafted ideas</h3>
              <a href="{%url 'drafts'%} " title="This idea will be private and only be visible to you"><h3>Add another idea.</h3></a>
              {%else%}
              <h3>No ideas in the drafts</h3>
              <a href="{%url 'drafts'%} " title="This idea will be private and only visible to you"><h3>Jot down an idea.</h3></a>
              {%endif%}
                {% for idea in ideas%}
                <p>Title: {{idea.title}} </p>
                <p>Body: {{idea.raw_idea}} </p>
                <p class="text-success">Drafted on: {{idea.pub_date}}  </p><hr> <br>
                {%endfor%} 
            </div>
            <div class="col-md-2"></div>
      
            </div>   
          </div>
    </div>
  </div>
{% endblock%}